<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>AddiBooksXML</name>
  <type>edit</type>
  <author>DiapDealer</author>
  <description>Add iBooks XML file to the META-INF folder</description>
  <engine>python3.4</engine>
  <engine>python2.7</engine>
  <version>0.1.0</version>
  <oslist>osx,unx,win</oslist>
  <autostart>true</autostart>
  <autoclose>true</autoclose>
</plugin>
